<div class="propertiesContent obj3d">

    {{#if properties.common.enabled}}

    <section id="propertiesSectionPosition"
        {{#if properties.position.enabled}}
            class="collapsible"
        {{else}}
            class="disabled collapsible"
        {{/if}}
    >
       <h4>
           Position
           <button id="propertiesResetPosition" class="svg1tiny" data-svgref="icon-properties-reset">rst</button>
       </h4>
       {{#with properties.position}}
       <ul class="collapsible-content xyz uiAdjustable">
           <li class="xyz-x">
               <span id="propertiesPositionX" data-tab-next="propertiesPositionY">{{x}}</span>
           </li>
           <li class="xyz-y">
               <span id="propertiesPositionY" data-tab-next="propertiesPositionZ">{{y}}</span>
           </li>
           <li class="xyz-z">
               <span id="propertiesPositionZ" data-tab-next="propertiesRotationX">{{z}}</span>
           </li>
       </ul>
       {{/with}}
    </section>


    <section id="propertiesSectionRotation"
        {{#if properties.rotation.enabled}}
            class="collapsible"
        {{else}}
            class="disabled collapsible"
        {{/if}}
    >
       <h4>
           Rotation
           <button id="propertiesResetRotation" class="svg1tiny" data-svgref="icon-properties-reset">rst</button>
       </h4>
       {{#with properties.rotation}}
       <ul class="collapsible-content xyz uiAdjustable unit-degree">
           <li class="xyz-x">
               <span id="propertiesRotationX" data-tab-next="propertiesRotationY">{{x}}</span>
           </li>
           <li class="xyz-y">
               <span id="propertiesRotationY" data-tab-next="propertiesRotationZ">{{y}}</span>
           </li>
           <li class="xyz-z">
               <span id="propertiesRotationZ" data-tab-next="propertiesScaleX">{{z}}</span>
           </li>
       </ul>
       {{/with}}
    </section>

    <section id="propertiesSectionScale"
        {{#if properties.scale.enabled}}
            class="collapsible"
        {{else}}
            class="disabled collapsible"
        {{/if}}
    >
       <h4>
           Scale
           <button id="propertiesResetScale" class="svg1tiny" data-svgref="icon-properties-reset">rst</button>
           <button id="propertiesLinkScale" class="svg1tiny" data-svgref="icon-properties-link">L</button>
       </h4>
       {{#with properties.scale}}
       <ul class="collapsible-content xyz uiAdjustable transformGrouped">
           <li class="xyz-x">
               <span id="propertiesScaleX" data-tab-next="propertiesScaleY">{{x}}</span>
           </li>
           <li class="xyz-y">
               <span id="propertiesScaleY" data-tab-next="propertiesScaleZ">{{y}}</span>
           </li>
           <li class="xyz-z">
               <span id="propertiesScaleZ">{{z}}</span>
           </li>
       </ul>
       {{/with}}
    </section>

    <section class="collapsible" id="propertiesSectionCommon">
        <!-- h4>Common</h4 -->
        {{#with properties.common}}

        <label for="propertiesObjectName">Name: </label>

        <input
            {{#unless canEditName}}
                disabled
            {{/unless}}
            id="propertiesObjectName" class="collapsible-content" type="text" value="{{objectName}}" placeholder="(object name)" />

        <label>
            <input
                {{#unless canLockTransformControls}}
                    disabled
                {{/unless}}
                id="propertiesEnableTransform" type="checkbox" {{#if enableTransformControls}}checked{{/if}} />
            Enable transforms
        </label>
        {{/with}}
    </section>
    {{else}}
        <section class="noSelectionOnly">
            <p>Nothing selected</p>
        </section>

    {{/if}}
</div>